{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='about.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
              <span class="subheading">This is what we do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Agriculture plays a vital role in the Indian economy and it is considered to be the backbone of our country. This sector produces nearly 50 percent of the jobs in our country. It contributes nearly 17% of the total GDP.For agriculture the farmer plays an important role and they are considered to be the hard workers of our country.They are being always busy in in the farming for the crops by working night and day. They use to work under the heat of the sunlight and also in the rain.They strive for the production of items which are the necessary for the humans to lead life.</p>
          <p>Some years ago farmers were the richest people in India. But, at present they are undergoing into an economic crisis because of the rise in the cost of fertilizers and the seeds.Usually, small scale farmers tend to buy a small amount of required items  in retail which is of high cost. Because of this they could not produce much crops with their lack of economy. Farmers owning different size of areas are not even able to buy the required items for cultivation because of their financial crisis. Many of the farmers are quiting their field and shifting to other sectors for money.If this continues our country will get into the crisis of agricultural products. So, for the improvement of the financial status of farmers we have to overcome their financial status.</p>
          <p>For the improvement of the financial status of farmers, we have come up with this e-Farm a revolutionary e-commerce website especially designed for the farmers. This gives an access to the farmers to buy the Fertilizers,Pesticides and Seeds at a reasonable cost in monthly terms. So,it will reduce their investment and improves their financial status. We also give an access to the farmers to rent their missionary and tools to the others.</p>

        </div>

      </div>
    </div>

   {% endblock %}