<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!--
Kool Store Template
http://www.templatemo.com/preview/templatemo_428_kool_store
-->
    <meta charset="utf-8">
    <title>e-Farm Store</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="{{ url_for('static', filename='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800') }}  " rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!--<link rel="stylesheet" href=" {{ url_for('static', filename='css/normalize.min.css') }}">-->
    <!--<link rel="stylesheet" href=" {{ url_for('static', filename='css/font-awesome.min.css') }}">-->
    <!--<link rel="stylesheet" href="  {{ url_for('static', filename='css/animate.css') }}">-->
    <!--<link rel="stylesheet" href="  {{ url_for('static', filename='css/templatemo-misc.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">

    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>

    <style>


      img{

        height:50;
        width:50;

      }
      td {
    padding: 10px;
  }

    </style>

</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->


    <header class="site-header">

        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-8">
                        <div class="logo">
                            <h1><a href="/" style="color:#009900">e-Farm Store</a></h1>
                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-header -->
        <div class="main-nav" style="background-color:#009900">
            <div class="container">
                <div class="row" >
                    <div class="col-md-8 col-sm-7">
                        <div class="list-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/rent">RENT</a></li>

                                <li ><a href="/upload">Lease</a></li>
                                <li style="background-color:#000099"><a href="/land_rentals">Land Rentals</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div> <!-- /.list-menu -->
                    </div> <!-- /.col-md-6 -->

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-nav -->
    </header> <!-- /.site-header -->


    <table align="center" style="margin: 0px auto;">

      <tr>

        <td>
            <a href="/land_contacts"><img height="250" width="400" src="https://mediacdn.99acres.com/7700/8/154008463O-1546078199.jpeg"></a>
            <h4>Area:Adibatla(1.5Acres)</h4>
            <h4>Rental-Price:₹20000/year</h4>

        </td>


        <td>
            <a href="/land_contacts"><img height="250" width="400" src="https://mediacdn.99acres.com/7772/3/155443721O-1547100794.jpeg"></a>
          <h4>Area:Shameerpet(1Acre)</h4>
          <h4>Rental-Price:₹10000/year</h4>
        </td>

        <td>
            <a href="/land_contacts"><img height="250" width="400" src="https://mediacdn.99acres.com/7754/18/155098207O-1546883584.jpeg"></a>
          <h4>Area:Medchal(3Acres)</h4>
          <h4>Rental-Price:₹50000/year</h4>
        </td>



      </tr>


      <tr>

        <td>
            <a href="/land_contacts"><img height="250" width="400" src="https://mediacdn.99acres.com/7754/18/155098215O-1546883584.jpeg"></a>
            <h4>Area:Karimnagar(1Acre)</h4>
            <h4>Rental-Price:₹10000/year</h4>

        </td>


        <td>
            <a href="/land_contacts"><img height="250" width="400" src="https://mediacdn.99acres.com/7779/9/155589003O-1547141713.jpeg"></a>
          <h4>Area:Warangal(3Acres)</h4>
          <h4>Rental-Price:₹30000/year</h4>
        </td>

        <td>
            <a href="/land_contacts"><img height="250" width="400" src="https://mediacdn.99acres.com/7715/0/154300623O-1546407788.jpeg"></a>
          <h4>Area:Khammam(2Acres)</h4>
          <h4>Rental-Price:₹40000/year</h4>
        </td>

      </tr>



    </table>



    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/jquery.easing-1.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>


</body>
</html>
