<html>
   <body style="margin:0; background-color:#3dde2a">
   <div style="padding:150px 400px; font-size:0px;line-spacing:20px;">
      <form action = "http://localhost:5000/uploader" method = "POST"
          enctype = "multipart/form-data">
          <input type = "file" name = "file" /><br><br>
          <input type="text" placeholder="your name"><br><br>
          <input type="text" placeholder="location of the land"><br><br>
          <input type="number" placeholder="10000"><br><br>
          <input type="text" placeholder="phone no,"><br>
          <button>submit</button>
      </form>
   </div>
   </body>
</html>